* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0 !important;
  overflow: hidden;
}

#info-card {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #444;
  width: 250px;
  font-family: sans-serif;
  pointer-events: all;
}
#close-btn {
  margin-top: 10px;
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
  padding: 5px 10px;
}
